 ### NLP Notebook 1

# Part 1
### Read the sample.csv file and store it in a pandas dataframe called tweets_df.
### Drop all colums in the dataframe except the text 
### Apply the following exercises for each text in the dataframe.

In [2]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None
full_df = pd.read_csv("sample.csv", nrows=5000)
df = full_df[["text"]]
df["text"] = df["text"].astype(str)
full_df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [1]:
df = df['text']

NameError: name 'df' is not defined

1. import nltk and download the ‘stopwords’ and ‘punkt’ packages

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
from nltk.tokenize import word_tokenize
stop_words_nltk = set(stopwords.words('english'))

2. Import spacy and load the language model (use en_core_web_sm Language model)

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

3. Toknize the text in the dataframe using NLTK. store the list of tokens for each text in the dataframe under the column : nltk_tokens

In [ ]:
df['nltk_tokens'] = df['text'].apply(lambda word: word_tokenize(word))

3. Toknize the text in the dataframe using Spacy. store the list of tokens for each text in the dataframe under the column : Spacy_tokens

5. Tokenizing the text into sentences with spaCy  and save the list of the sentences for each tweets_df["text"]  in the dataframe. Save the the list of sentences in the dataframe under the column : Spacy_sentences

5. Tokenizing the text into sentences with NLTK  and save the list of the sentences for each tweets_df["text"]  in the dataframe. Save the the list of sentences in the dataframe under the column : Nltk_sentences

7. Remove the  stopwords using nltk. Save the text without the stop words in the dataframe under without_stopwords_nltk

8. Remove the  stopwords using Spacy. Save the text without the stop words in the dataframe under without_stopwords_spacy

 9. Perform stemming/ convert each token to it’s root form in the given text ( Stemming with nltk's PorterStemmer). Save the result under porter_stemmer column

10. Perform Lemmatization using spacy's. Save the result under lemma column

11. Join the clean text and save it in the dataframe under the column clean_text

# Part 2

 Read about NLTK and Spacy libraries and answer the following questions within 250 words for
each:
Please add resources and give your personal opinion.
a. Which one is better in term of performance and speed? why?
b. Can you use NLTK and Spacy to do text processing for Arabic language?
c. Which one is well know that it is always updated and following the state of the art?
d. What is the main advantage and disadvantage of each one?
Some helpful Articles:

NLTK : https://www.nltk.org

Spacy : https://spacy.io

Text normalization with spacy and NLTK

https://towardsdatascience.com/text-normalization-with-spacy-and-nltk-1302ff430119

Machine learning advancements in Arabic NLP

https://towardsdatascience.com/machine-learning-advancements-in-arabic-nlp-c6982b2f602b

NLTK VS Spacy

https://www.activestate.com/blog/natural-language-processing-nltk-vs-spacy/

Introduction to Libraries of NLP in Python — NLTK vs. spaCy

https://medium.com/@akankshamalhotra24/introduction-to-libraries-of-nlp-in-python-nltk-vs-spacy-
42d7b2f128f2